<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="app" class="container">
            <h2>{{title}}</h2>
            <div class="input-group">
                <input v-model="newItem" @keyup.enter="addItem" placeholder="Add Shopping List Item" type="text"
                       class="form-control">
                <span class="input-group-btn">
                    <button @click="addItem" class="btn btn-default" type="button">Add!</button>
                </span>
            </div>
            <ul>
                <li v-for="item in items" v-bind:class="{ 'removed': item.checked}">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model="item.checked">
                            {{ item.text }}
                        </label>
                    </div>
                </li>
            </ul>
            <div class="footer">
                <hr/>
                <em>Change the title of your shopping list here</em>
                <input v-model="title">
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
        <script src="app.js"></script>
    </body>
</html>















